include common/head

#header
#main(style='margin-top:20px;')
	.container-fluid
		.row-fluid
			.offset3.span6
				h1 Hey. This is Sourabh.
				img(src='/images/me.jpg')
				.para	
					| I work as a programmer for a firm in Bangalore, India. 
					| Apart from work, I do small hobby projects now and then. 
					| This is one of them. Hope you like it. 
				.para
					a(href='http://www.quora.com/Sourabh-Agrawal-2') Quora
					|  | 
					a(href='https://www.facebook.com/iitr.sourabh') facebook
					|  | 
					a(href='http://in.linkedin.com/in/sourabhagrawal09') LinkedIn
					|  | 
					a(href='http://shreddedlamb.com/') Blog
					|  | 
					a(href='mailto:iitr.sourabh@gmail.com') Mail
#footer
