include common/head

#header
#main(style='margin-top:20px;')
	.container-fluid
		.row-fluid
			.offset3.span6
				h1 What is PNNED.com?
				.para	
					| It is a simple app. 
					| I see it as a pad where you can scribble. 
					| You can use it as your personal diary or as your morning pages or just as a notebook.
					| You can scribble down your dreams, your crazy ideas, a plan for the day, or just anything that's in your head.
					| It is just a personal space where you can brain dump.
				h1 Is it different from blogging?
				.para	
					| Yes. Blogs are meant for putting up content and sharing them with people. They are heavy and inherently public.
					| You might actually forget to make a post private. Also, blogs are meant to showcase your articles.
					| They are not meant for scribbling. PNNED is just what a blog isn't. It is your personal notebook.
				h1 It is completely Online.
				.para	
					| Your diary may or may not be always with you, but we all have our laptops or tablets around.
					| PNNED is immune to wear & tear and is forever.
					| Moreover, a few features like word-stats and sentiment analysis that have been built in PNNED can't be done with physical pages.  	
				
				//
					h1(style='padding : 130px 0px; font-size:40px; letter-spacing:0.1em; line-height:60px; text-align:center') 
						| It's the simplest app in the world! 
						br
						| Write something daily. That's it. 
						br
						| Login to Try It!
#footer
