<div class='container-fluid'>
	<div class='row-fluid' id='error-box'></div>
	<div class='row-fluid'>
		<h3 id='month' class='margin10'></h3>
	</div>
	<div class='row-fluid'>
		<div id='days' class='margin10'></div>
	</div>
	<div class='row-fluid'>
		<h2 id='today' class='margin10' style='display:inline;'></h2>
		<span id='note-options'></span>
	</div>
	<div class='row-fluid'>
		<div class='span12'>
			<textarea id='edit-note-text-area' class='note-text-box' placeholder="Who haven't written anything today. Start writing here..."></textarea>	
		</div>
	</div>
	<div class='row-fluid'>
		<div id='save-msg' class='span3 text-success' style='font-size:.8em'></div>
		<div class='offset6 span3' style='text-align:right'>
			<span class='label label-success'>Written</span>
			<span class='label label-important'>Missed</span>
			<span class='label'>Future</span>
			<span class='label label-inverse'>Current</span>
		</div>
	</div>
</div>
