<h3>Emotions</h3>
<div class='row-fluid'>
	<div class='span2'><label>Happy</label></div>
	<div class='span10'>
		<div class="progress progress-happy progress-striped">
		  <div class="bar" style="width: <%= positiveAffect %>%">&nbsp;<%= positiveAffect %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Sad</label></div>
	<div class='span10'>
		<div class="progress progress-sad progress-striped">
		  <div class="bar" style="width: <%= sadness %>%">&nbsp;<%= sadness %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Affectionate</label></div>
	<div class='span10'>
		<div class="progress progress-success progress-striped">
		  <div class="bar" style="width: <%= affection %>%">&nbsp;<%= affection %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Anxious</label></div>
	<div class='span10'>
		<div class="progress progress-anxious progress-striped">
		  <div class="bar" style="width: <%= anxiety %>%">&nbsp;<%= anxiety %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Expressive</label></div>
	<div class='span10'>
		<div class="progress progress-warning progress-striped">
		  <div class="bar" style="width: <%= expressiveBeh %>%">&nbsp;<%= expressiveBeh %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Aggressive</label></div>
	<div class='span10'>
		<div class="progress progress-danger progress-striped">
		  <div class="bar" style="width: <%= aggression %>%">&nbsp;<%= aggression %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Glorious</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= glory %>%">&nbsp;<%= glory %></div>
		</div>
	</div>
</div>

<h3>Secondary Process</h3>
<div class='row-fluid'>
	<div class='span2'><label>Abstract Thought</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= abstractThought %>%">&nbsp;<%= abstractThought %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Social Behavior</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= socialBehavior %>%">&nbsp;<%= socialBehavior %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Instrumental Behavior</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= instruBehavior %>%">&nbsp;<%= instruBehavior %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Restraint</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= restraint %>%">&nbsp;<%= restraint %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Order</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= order %>%">&nbsp;<%= order %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Temporal References</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= temporalRepere %>%">&nbsp;<%= temporalRepere %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Moral Imperative</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= moralImperative %>%">&nbsp;<%= moralImperative %></div>
		</div>
	</div>
</div>

<h3>Senses</h3>
<div class='row-fluid'>
	<div class='span2'><label>General Sensation</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= genSensation %>%">&nbsp;<%= genSensation %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Taste</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= taste %>%">&nbsp;<%= taste %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Odor</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= odor %>%">&nbsp;<%= odor %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Sound</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= sound %>%">&nbsp;<%= sound %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Vision</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= vision %>%">&nbsp;<%= vision %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Cold</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= cold %>%">&nbsp;<%= cold %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Hard</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= hard %>%">&nbsp;<%= hard %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Soft</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= soft %>%">&nbsp;<%= soft %></div>
		</div>
	</div>
</div>

<h3>Symbolization</h3>
<div class='row-fluid'>
	<div class='span2'><label>Passivity</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= passivity %>%">&nbsp;<%= passivity %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Voyage</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= voyage %>%">&nbsp;<%= voyage %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Random Movement</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= randomMovement %>%">&nbsp;<%= randomMovement %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Diffusion</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= diffusion %>%">&nbsp;<%= diffusion %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Chaos</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= chaos %>%">&nbsp;<%= chaos %></div>
		</div>
	</div>
</div>

<h3>Regressive Cognition</h3>
<div class='row-fluid'>
	<div class='span2'><label>Unknown</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= unknow %>%">&nbsp;<%= unknow %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Timelessness</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= timelessnes %>%">&nbsp;<%= timelessnes %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Consciousness Alteration</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= counscious %>%">&nbsp;<%= counscious %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Brink-passage</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= brinkPassage %>%">&nbsp;<%= brinkPassage %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Narcissism</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= narcissism %>%">&nbsp;<%= narcissism %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Concreteness</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= concreteness %>%">&nbsp;<%= concreteness %></div>
		</div>
	</div>
</div>

<h3>Icarian Imagery</h3>
<div class='row-fluid'>
	<div class='span2'><label>Ascend</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= ascend %>%">&nbsp;<%= ascend %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Height</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= height %>%">&nbsp;<%= height %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Descend</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= descent %>%">&nbsp;<%= descent %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Depth</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= depth %>%">&nbsp;<%= depth %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Fire</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= fire %>%">&nbsp;<%= fire %></div>
		</div>
	</div>
</div>
<div class='row-fluid'>
	<div class='span2'><label>Water</label></div>
	<div class='span10'>
		<div class="progress progress-info progress-striped">
		  <div class="bar" style="width: <%= water %>%">&nbsp;<%= water %></div>
		</div>
	</div>
</div>