<footer>
	<div class='container-fluid'>
		<div class='row-fluid'>
			<div class='span2'>
				<div class='widget'>
					<ul>
						<li>
							<a href='/about'>Who made this</a>
						</li>
					</ul>
				</div>
			</div>
			<div class='span1'>
				<div class='widget'>
					<ul>
						<li>
							<a href='mailto:sourabh@pnned.com'>Feedback</a>
						</li>
					</ul>
				</div>
			</div>
			<div class='span9' style='text-align:right;'>
				<p class='copy'>Copyright &copy; <a href='http://pnned.com'>Pnned.com</a></p>
			</div>
		</div>
		<!-- <p class='copy'>Copyright &copy; <a href='http://pnned.com'>Pnned.com</a></p> -->
	</div>
</footer>