<div class="container-fluid" style='margin-top:20px;'>
	<div class="row-fluid">
		<div class="offset2 span8">
			<h2>Hello <%=name%>!</h2>
			<hr /> 
			<div class="para">This page shows information around what you have written till now. Let's dive in.</div>
			<div class='alert' style='display:none;' id='nothing-alert'>Looks like you haven't written anything till now. Go ahead and write something.</div>
			
			<div id='word-count-widget'></div>
			<div id='emotions-widget'></div>
		</div>
	</div>
</div>
