link(href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic', rel='stylesheet', type='text/css')
link(href='//fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')

link(href='/static/css/common.css', rel='stylesheet')
link(href='/lib/ericka/style/font-awesome.css', rel='stylesheet')
link(href='/lib/ericka/style/font-awesome-ie7.css', rel='stylesheet')


script(src='/static/js/common.js')
