footer
	.container-fluid
		.row-fluid
			.span4
				.widget
					h4 Updates
						span.pull-right
							a.twitter-follow-button(href='https://twitter.com/accredor', data-show-count='false', data-show-screen-name='false') Follow @accredor
							script
								!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
						span.pull-right(style='margin-right:5px;')
							.fb-like(data-href='https://www.facebook.com/accredor', data-send='false', data-layout='button_count', data-width='250', data-show-faces='false', data-colorscheme='dark')
					.tweet
			//
				h4 The Product
				ul
					li
						a(href='#') Features
					li
						a(href='#') Benefits
					li
						a(href='#') What Next?
			.span4
				.widget
					h4 Useful Links
					ul
						li
							a(href='/what-is-ab-testing') What is A/B Testing?
						li
							a(href='/getting-started') Getting Started
						li
							a(href='/faqs') FAQs
			.span4
				.widget
					h4 About
					ul
						li
							a(href='#') About Us
						li
							a(href='/faqs') Contact Us
		.row-fluid
			.span12
				hr
				p.copy
					| Copyright &copy; 
					a(href='http://#{domain}') #{domain} | 
					a(href='/terms') Terms of Service | 
					a(href='/privacy-policy') Privacy Policy

script(type='text/javascript')
	/* Flex Slider */
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation: "slide",
			controlNav: true,
			pauseOnHover: true,
			slideshowSpeed: 15000
		});
	});

-if(locals.app.settings.env == 'production')
	script(type='text/javascript')
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-37090636-1']);
		_gaq.push(['_trackPageview']);
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();