html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(charset='utf-8')
		title PNNED! : Your Daily Notes
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='A place which can be used a personal diary or a personal notebook. It is a featurified way of writing your personal thoughts.')
		meta(name='keywords', content='personal diary notes notebook')
		meta(name='author', content='#{domain}')
		meta(property='og:title', content='')
		meta(property='og:type', content='company')
		meta(property='og:url', content='')
		meta(property='og:image', content='')
		meta(property='og:site_name', content='')
		meta(property='fb:admins', content='')
		meta(name="google-site-verification", content="5eoRnEPIbegZq7c50Lg581EfyiA3lJ8wwroH7jDNhxo")
		
		include boot
		
		script
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-41695544-1', 'pnned.com');
			ga('send', 'pageview');
	